.App {
  text-align: center;
  background-color: #232323;
  height: 100vh;
  color: #ffffff;
  font-size: 15px;
}

.App .button {
  color: #ffffff;
  background-color: #f65261;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 8px 30px 8px 30px;
  min-width: 50px;
  max-width: 250px;
  cursor: pointer;
}

.App .searchbar {
  color: #666666;
  border: 0;
  border-radius: 3px;
  padding: 8px 30px 8px 30px;
  min-width: 50px;
  max-width: 250px;
  background-color: #232323;
  width: 75%;
}

.App .searchbar:focus {
  outline: none;
  color: #ffffff;
}

.App .genreChoices {
  display: inline-flex;
}

.App .genreItem {
  margin: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.App .genreItem.selected {
  border-bottom: 1px solid red;
}